/****************************************\

01.general
02.helper
03.components
04.menu
05.home
06.portfolio
07.services
08.footer
09.contact
10.client
11.pricing
12.blog
13.instagram
14.responsive

*****************************************/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&amp;display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #222222 !important;
  font-size: 14px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  line-height: 1.8;
}

hr {
  border-top: 1px solid #dee2e6;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.vertical-content {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.icon-box {
  padding: 65px 15px;
  background-color: #f3f3f3;
  text-align: center;
}
.icon-box img {
  height: 50px;
}
.author-img img {
  width: 120px !important;
  height: auto;
  border-radius: 100%;
}
.kk {
  height: 400px;
}
.owl-carousel .owl-item img {
  display: inline-block !important;
  width: auto;
}
.owl-carousel {
  max-width: 900px;
  margin: 0 auto;
}
.bg-overlay {
  background: #222222;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  opacity: 0.5;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 19px;
}

.f-20 {
  font-size: 20px;
}

.f-21 {
  font-size: 21px;
}

.f-22 {
  font-size: 22px;
}

.line-height_1_4 {
  line-height: 1.4;
}

.line-height_1_6 {
  line-height: 1.6;
}

.line-height_1_8 {
  line-height: 1.8;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-4 {
  letter-spacing: 4px;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.bg-custom {
  background-color: #06beb6;
}

.bg-light {
  background-color: #f6f6f6 !important;
}

.bg-dark {
  background-color: #222222 !important;
}

.text-white-70 {
  color: rgba(255, 255, 255, 0.7) !important;
}

.text-custom {
  color: #06beb6;
}

.text-muted {
  color: #807c7c !important;
}

.text-dark {
  color: #222222 !important;
}

.btn {
  padding: 10px 24px;
  font-size: 15px;
  letter-spacing: 0.6px;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-md {
  padding: 7px 14px;
  font-size: 13px;
  letter-spacing: 0.6px;
}

.btn-md:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-dark-custom {
  color: #ffffff;
  background-color: #222222;
  border: 1px solid #222222;
}

.btn-dark-custom:hover,
.btn-dark-custom:focus,
.btn-dark-custom:active,
.btn-dark-custom.active,
.btn-dark-custom.focus,
.btn-dark-custom:active,
.open > .dropdown-toggle .btn-dark-custom {
  color: #ffffff;
  background-color: #222222;
}

.btn-white {
  color: #06beb6;
  background-color: #ffffff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.focus,
.btn-white:active,
.open > .dropdown-toggle .btn-white {
  color: #06beb6;
  background-color: #ffffff;
}

.btn-outline-dark {
  color: #222222;
  border: 1px solid #222222;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.focus,
.btn-outline-dark:active,
.btn-outline-dark:focus,
.btn-outline-dark:hover,
.open > .dropdown-toggle .btn-outline-dark {
  color: #ffffff;
  border: 1px solid #222222;
  background-color: #222222;
}

/*******************************
        NAVBAR
*******************************/
#topnav {
  z-index: 1030;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 62px;
}

#topnav .navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

#topnav .navigation-menu > li {
  float: left;
  display: block;
  position: relative;
  margin: 0 23px;
}

#topnav .navigation-menu > li > a {
  display: block;
  font-size: 13px;
  color: #222222;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
}

#topnav .navigation-menu > li .submenu li a i {
  margin-right: 10px;
  font-size: 14px;
}
.links {
  padding-top: 2rem;
}
#topnav .logo {
  float: left;
  line-height: 70px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 22px;
}

#topnav .menu-extras {
  float: right;
}

#topnav .has-submenu.active .menu-arrow {
  border-color: #222222;
}

.has-submenu {
  position: relative;
}

#topnav .navbar-toggle {
  border: 0;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#topnav .navbar-toggle .lines {
  width: 25px;
  display: block;
  position: relative;
  margin: 28px auto;
  height: 15px;
}

#topnav .navbar-toggle span {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#topnav .navbar-toggle span:last-child {
  margin-bottom: 0;
}

#topnav .navbar-toggle.open span {
  position: absolute;
}

#topnav .navbar-toggle.open span:first-child {
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#topnav .navbar-toggle.open span:nth-child(2) {
  visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child {
  width: 100%;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#topnav .navbar-toggle.open span:hover {
  background-color: #222222;
}

#topnav .navbar-toggle:hover,
#topnav .navbar-toggle:focus,
#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li > a:focus {
  background-color: transparent;
}

.menu-arrow {
  border: solid #222222;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: -12px;
  top: 30px;
}

.submenu-arrow {
  border: solid #807c7c;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: 20px;
  top: 18px;
}

.navigation-menu .has-submenu.active a {
  color: #222222 !important;
}

.navbar-sticky.darkheader .navigation-menu .has-submenu.active a {
  color: #222222 !important;
}

/*******************************
        STICKY
*******************************/
.darkheader {
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.navbar-sticky.darkheader {
  top: 0px !important;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff;
}

.navbar-sticky .logo {
  color: #222222;
}

.navbar-sticky.darkheader .navigation-menu > li > a {
  color: #222222;
}

.navbar-sticky.darkheader .menu-arrow {
  border-color: #222222;
  border-width: 0 1px 1px 0;
}

.navbar-sticky.darkheader .logo {
  color: #222222;
}

#topnav .navbar-sticky {
  background-color: #ffffff;
  width: 100% !important;
}

.navigation-menu > li > a {
  color: #222222 !important;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.bg-heading {
  background-size: cover;
  position: relative;
  padding: 270px 0px 200px 0px;
}

.bg-image {
  background: url(../images/bg-1.jpg);
  background-size: cover;
  position: relative;
  background-position: center center;
  padding: 320px 0px 250px 0px;
}

.home-dark {
  background-size: cover;
  position: relative;
  padding: 200px 0px 200px 0px;
}

.bg-title {
  background-size: cover;
  position: relative;
  padding: 180px 0px 110px 0px;
}

.home-social li {
  margin: 0px 10px;
}

.home-social a {
  color: #ffffff;
  font-size: 20px;
}

.home-social a:hover {
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.home-dark-box {
  overflow-x: hidden;
  max-width: 1300px;
  margin: 0 auto;
}

.container-filter {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.container-filter li {
  list-style: none;
  display: inline-block;
}

.container-filter a {
  display: block;
  font-size: 14px;
  margin: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  line-height: 30px;
  -webkit-transition: all 0.6s;
  border-bottom: 1px solid transparent;
  color: #807c7c !important;
}

.container-filter a:hover {
  color: #222222 !important;
}

.container-filter a.active {
  color: #222222 !important;
  border-bottom: 1px solid #222222;
}

.item-box {
  position: relative;
  overflow: hidden;
  display: block;
}

.item-box a {
  display: inline-block;
}

.item-box .item-mask {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  position: absolute;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
}

.item-box .item-mask .item-caption {
  position: absolute;
  width: 100%;
  bottom: 10px;
  opacity: 0;
}

.item-box:hover .item-mask {
  opacity: 1;
  visibility: visible;
  cursor: pointer !important;
}

.item-box:hover .item-caption {
  opacity: 1;
}

.item-box:hover .item-container {
  width: 100%;
}

.services-box {
  padding: 45px 25px 45px 25px;
}

.services-img img {
  height: 50px;
}

.footer-link a {
  line-height: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.4px;
}

.footer-link a:hover {
  color: #ffffff;
}

.error {
  margin: 8px 0px;
  display: none;
  color: #ea553d;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #ea553d;
  border: 2px solid #ea553d;
}

.contact-loader {
  display: none;
}

#success_page {
  text-align: center;
  margin-bottom: 50px;
}

.custom-form .form-control {
  height: 44px;
  border: 1px solid #dee2e6;
  font-size: 14px;
  background-color: #ffffff;
  padding-left: 20px;
}

.custom-form .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  height: auto !important;
}

.post-contact-heading {
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 250px 0px 250px 0px;
}

.contact-img img {
  width: 35px;
}

.map {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.map iframe {
  width: 100%;
  height: 400px;
}

.client-box img {
  max-height: 80px;
  width: auto !important;
}

.search-form {
  position: relative;
}

.search-form input {
  padding: 12px 20px;
  width: 100%;
  top: 0px;
  font-size: 15px;
  color: #222222 !important;
  border: none;
  outline: none !important;
  padding-left: 45px;
  border-radius: 3px;
  border: 1px solid #dee2e6;
  background-color: transparent;
}

.search-form i {
  position: absolute;
  top: 8px;
  left: 15px;
}

.links-social a {
  text-align: center;
  border: 1px solid #222222;
  color: #222222;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.links-social a:hover {
  color: #ffffff;
  background: #222222;
}

/******** tags ********/
.tags a {
  border: 1px solid #dee2e6;
  padding: 0 10px;
  margin: 0 5px 9px 0;
  border-radius: 3px;
  color: #222222;
  display: inline-block;
  line-height: 26px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.tags a:hover {
  color: #ffffff !important;
  background-color: #222222;
}

.popular-post img {
  width: 80px;
}

.pagination > li {
  display: inline-block;
  margin-right: 5px;
}

.pagination > li > a,
.pagination > li > span {
  border: 1px solid #dee2e6;
  color: #807c7c;
  display: block;
  float: none;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  text-align: center;
  line-height: 36px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #ffffff;
}

.pagination > .active > a,
.pagination > .active > span {
  border: 1px solid #222222;
  color: #ffffff;
  background-color: #222222;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  border: 1px solid #222222;
  color: #ffffff !important;
  background-color: #222222;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  border: 1px solid #222222;
  color: #ffffff;
  cursor: default;
  z-index: 3;
}

.instagram {
  text-align: center;
  overflow: hidden;
  padding-left: 0;
}

.instagram li {
  width: 16.66666666666667%;
  display: inline;
  float: left;
  margin: 0;
}

.instagram-lable p {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 200px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #topnav .navigation-menu > li.last-elements .submenu {
    left: auto;
    right: 0;
  }
  #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
  }
  #topnav .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    list-style: none;
    min-width: 180px;
    visibility: hidden;
    opacity: 0;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  }
  #topnav .navigation-menu > li .submenu.megamenu {
    white-space: nowrap;
    width: auto;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li {
    overflow: hidden;
    width: 180px;
    display: inline-block;
    vertical-align: top;
  }
  #topnav .navigation-menu > li .submenu > li .submenu {
    left: 100%;
    top: 0;
    margin-left: 10px;
    margin-top: -1px;
  }
  #topnav .navigation-menu > li .submenu li {
    position: relative;
  }
  #topnav .navigation-menu > li .submenu li ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 6px 20px;
    clear: both;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: 1px;
    color: #222222 !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #topnav .navbar-toggle {
    display: none;
  }
  #topnav #navigation {
    display: block !important;
  }
  .navigation-menu > li:hover > a {
    color: #222222 !important;
  }
  #topnav .navigation-menu > li:hover > a {
    color: #ffffff;
  }
  .navigation-menu > li:hover > .menu-arrow {
    border-color: #222222;
  }
  #topnav.scroll-active .navigation-menu > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #topnav.scroll .navigation-menu > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #topnav.scroll {
    top: 0;
  }
}

@media (max-width: 991px) {
  .menu-arrow {
    top: 15px;
    right: 20px;
  }
  .submenu-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 12px;
  }
  .logo {
    padding: 0 !important;
    line-height: 0;
  }
  #topnav .container {
    width: auto;
  }
  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
  }
  #topnav .navigation-menu > li {
    float: none;
  }
  #topnav .navigation-menu > li > a {
    color: #222222;
    padding: 10px 20px;
  }
  #topnav .navigation-menu > li > a:hover,
  #topnav .navigation-menu > li .submenu li a:hover,
  #topnav .navigation-menu > li.has-submenu.open > a,
  #topnav .menu-extras .menu-item .cart > a:hover,
  #topnav .menu-extras .menu-item .search > a:hover {
    color: #67a8e4;
  }
  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px;
  }
  #topnav .navigation-menu > li .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 6px 15px;
    clear: both;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #topnav .navigation-menu .submenu.open .has-submenu.open > a {
    color: #67a8e4;
  }
  #topnav .navigation-menu > li .submenu.open {
    display: block;
  }
  #topnav .navigation-menu > li .submenu .submenu {
    display: none;
    list-style: none;
  }
  #topnav .navigation-menu > li .submenu .submenu.open {
    display: block;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul {
    list-style: none;
    padding-left: 0;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span {
    display: block;
    position: relative;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #807c7c;
  }
  #topnav .navbar-toggle span {
    background-color: #222222;
  }
  #topnav .navbar-header {
    float: left;
  }
  #topnav .logo {
    padding: 11px 0;
  }
  #topnav .logo .logo-light {
    display: none;
  }
  #topnav .logo .logo-dark {
    display: block;
  }
  #topnav .has-submenu.active a {
    color: #222222 !important;
  }
  #navigation {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background-color: #ffffff;
  }
  #navigation.open {
    display: block;
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-toggle {
    display: block;
  }
}

@media (max-width: 768px) {
  #topnav {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) !important;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) !important;
  }
  #topnav .logo {
    line-height: 70px !important;
  }
  #topnav .navigation-menu > li > a {
    color: #222222 !important;
  }
  .menu-arrow {
    border: solid #222222;
    border-width: 0 1px 1px 0;
  }
  .navbar-sticky .logo {
    color: #222222 !important;
  }
  .navigation-menu .has-submenu.active a {
    border-bottom: none !important;
  }
  .navbar-sticky.darkheader .navigation-menu .has-submenu.active a {
    border-bottom: none !important;
  }
  .navbar-sticky.darkheader .menu-arrow {
    border: solid #222222;
    border-width: 0 1px 1px 0;
  }
  .instagram-lable {
    display: none;
  }
}

@media (max-width: 425px) {
  #topnav .navigation-menu > li {
    margin: 0 0px;
  }
}