/*=============== RESUME ===============*/
.resume{
   &__title{
      font-size: var(--normal-font-size);
      display: inline-flex;
      align-items: center;
      margin-bottom: .25rem;
      
      & i{
         font-size: 1.5rem;
         font-weight: initial;
      }
   }
   &__data{
      display: grid;
      row-gap: .5rem;
      padding-left: 1.5rem;
      font-size: var(--small-font-size);
   }
   &__button-link{
      width: max-content;
      color: var(--text-color);
      display: inline-flex;
      column-gap: .25rem;
      font-weight: var(--font-semi-bold);

      &:hover{
         text-decoration: underline;
      }
   }
}