/*=============== SKILLS ===============*/
.skills{
   &__content,
   &__list{
      display: grid;
   }
   &__content{
      grid-template-columns: repeat(2, max-content);
      align-items: baseline;
      column-gap: 3rem;
   }
   &__list{
      row-gap: 1rem;

      & li{
         margin: 0;
      }
   }
}