/*=============== FOOTER ===============*/
.footer{
   padding-block: 2.5rem 8rem;

   &__container{
      border-top: 2px solid var(--title-color);
      padding-top: 1.5rem;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
      row-gap: 2.5rem;
   }
   &__title{
      font-size: var(--normal-font-size);
      margin-bottom: .5rem;
   }
   &__info,
   &__link{
      font-size: var(--small-font-size);
   }
   &__link{
      color: var(--text-color);

      &:hover{
         text-decoration: underline;
      }
   }
}