/*=============== HEADER & NAV ===============*/
.header{
   position: fixed;
   width: 100%;
   background-color: var(--container-color);
   top: 0;
   left: 0;
   z-index: var(--z-fixed);
   transition: background .4s;
}

.nav{
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid var(--title-color);

   &__logo{
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
   }
   // Navigation for mobile devices
   @media screen and (max-width: 1023px){
      &__menu{
         position: fixed;
         bottom: 1.5rem;
         left: 0;
         right: 0;
         background-color: var(--container-color);
         box-shadow: 0 4px 24px hsla(40, 48%, 4%, .25);
         margin-inline: 1.5rem;
         border-radius: .5rem;
         padding: 1.25rem 3rem;
         transition: background .4s;
      }
   }
   &__list{
      display: flex;
      justify-content: space-between;
   }
   &__link{
      position: relative;
      font-size: 1.25rem;
      color: var(--title-color);

      &::after{
         content: '';
         position: absolute;
         width: 32px;
         height: 2px;
         background-color: var(--title-color);
         left: -6px;
         bottom: -8px;
         transition: transform .3s, opacity .3s;
         opacity: 0;
      }

      &:hover::after{
         opacity: 1;
         transform: translateY(-4px);
      }
   }
}

/* Active link */
.active-link::after{
   opacity: 1;
   transform: translateY(-4px);
}